h1 {
  text-align: center;
}

.postContainer {
    display:flex;
    justify-content: space-around;

    p {
      color:#5d67bb ;
      font-weight: bold;
      font-size: 2rem;
    }
  

    .cp_iptxt {
      position: relative;
      width: 50%;
    }
    .cp_iptxt input[type='text'] {
      font: 15px/24px sans-serif;
      box-sizing: border-box;
      width: 100%;
      letter-spacing: 1px;
      padding-left: 4em;
    }

    .cp_iptxt input[type='text']:focus {
      outline: none;
    }

    .ef {
      padding: 4px 0;
      border: 0;
      border-bottom: 1px solid #1b2538;
      background-color: transparent;
    }


    .ef:focus ~ .focus_line,
    .cp_iptxt.ef ~ .focus_line {
      left: 0;
      width: 100%;
      transition: 0.4s;
    }

    

    .ef ~ label {
      position: absolute;
      z-index: -1;
      top: 4px;
      left: 0;
      width: 100%;
      transition: 0.3s;
      letter-spacing: 0.5px;
      color: #aaaaaa;
    }

    .ef:focus ~ label, .cp_iptxt.ef ~ label {
      font-size: 12px;
      top: -16px;
      transition: 0.3s;
      color: #5d67bb;
    }

    .titleContainer {
      margin-top: 40%;
      margin-left: 5%;
      display: flex;
      flex-flow: column;
    }

    .postButton {
      border:0.1em solid #FFFFFF;
      padding:0.35em 1.2em;
      margin:3em 0 0.3em 7em ;
      border-radius:0.12em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      color: #FFFFFF;
      text-align:center;
      transition: all 0.2s;
      background-color: #5d67bb;
      display:inline-block;
    }
}